<html>
  <div style="font-family: Arial, sans-serif">
    <p>Hello {{username}},</p>
    <p>Please use this code to verify your email: {{otp}}</p>
    <br>
    <p>This code should be available for only 5 minutes.</p>
    <p>If you missed the time period, you can request a new code.</p>
  </div>
</html>
